.card-table {
  min-height: 150px;
}

.margin-right-4px {
  margin-right: 4px;
}

.icon-size {
  font-size: 25px;
}

.x-center {
  width: 100%;
  display: block;
  margin: 0 auto;
  font-weight: bold;
}